@charset "utf-8";

.uploader-list {
  .file-item {
    img {
      width: 110px;
    }
  }
}

/* 多规格 */
.goods-spec-many {
  display: none;
  .goods-spec-box {
    margin-top: 15px;
    border: 1px solid #e4e4e4;
    padding: 20px;
    border-radius: 4px;
  }
  input {
    font-size: 1.3rem !important;
    padding-left: 10px !important;
    border: 1px solid #e3e2e5 !important;
    &.am-field-error {
      border-color: #dd514c !important;
    }
  }
  .spec-group-item {
    margin-bottom: 25px;
    .spec-group-name {
      margin-bottom: 15px;
      span {
        font-size: 1.5rem;
      }
      .icon-shanchu1 {
        display: inline-block;
      }
    }
    .spec-list {
      .spec-item {
        position: relative;
        margin-right: 12px;
        margin-bottom: 12px;
        span {
          min-width: 50px;
          display: inline-block;
          border: 1px solid #ddd;
          text-align: center;
          padding: 0 15px;
          border-radius: 2px;
          font-size: 1.3rem;
          line-height: 30px;
        }
        &:hover {
          .icon-shanchu1 {
            visibility: visible;
          }
        }
        .icon-shanchu1 {
          position: absolute;
          width: 20px;
          top: -9px;
          right: -9px;
          visibility: hidden;
        }
      }
    }
    .spec-item-add {
      input {
        width: 110px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      button {
        display: table-cell;
        height: 32px;
        font-size: 1.3rem;
        border-color: #e3e2e5;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        outline: none;
      }
    }
  }
  .icon-shanchu1 {
    cursor: pointer;
    text-align: center;
    color: #ababab;
    font-size: 1.3rem;
    &:hover {
      color: #6b6b6b;
    }
  }
  .spec-group-button {
    button {
      color: #2589ff;
      background-color: #fff;
      border-color: #2589ff;
      font-size: 12px;
      border-radius: 4px;
      outline: 0;
      font-weight: 400;
      padding: .6em 1em;
      outline: none !important;
    }
  }
  .spec-group-add {
    //display: none;
    .spec-group-add-item {
      margin-bottom: 10px;
      input {
        width: 160px;
        border-radius: 4px;
        display: inline-block;
        margin-left: 12px;
      }
    }
  }
  .goods-sku {
    //display: none;
    .goods-spec-line {
      border: 1px dashed #e3e2e5;
    }
    .spec-batch {
      margin-bottom: 1.5rem;
      .am-form-label {
        padding-top: 0;
      }
      .am-form-group {
        margin-left: .6rem;
        margin-bottom: .8rem;
        input {
          width: 140px;
        }
      }
    }
    .spec-sku-tabel {
      td {
        &.td-spec-value {
          padding: .7rem 1.3rem !important;
        }
        &.spec-image {
          font-size: 0;
          .upload-image {
            display: inline-block;
            width: 32px;
            height: 32px;
            border: 1px dashed #E3E2E5;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            color: #B2AEBC;
            .iconfont {
              line-height: 32px;
              font-size: 1.2rem;
            }
            &:hover {
              border: 1px dashed #2589ff;
              color: #2589ff;
            }
          }
          .data-image {
            position: relative;
            display: inline-block;
            width: 32px;
            height: 32px;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
            }
            .image-delete {
              display: none;
              position: absolute;
              top: -8px;
              right: -8px;
              cursor: pointer;
              height: 15px;
              width: 15px;
              line-height: 15px;
              background: rgba(153, 153, 153, 0.7);
              border-radius: 50%;
              text-align: center;
              color: #fff !important;
              font-size: 1rem;
              &:hover {
                background: #000;
              }
            }
            &:hover {
              .image-delete {
                display: block;
              }
            }
          }
        }
      }
      input {
        display: inline-block !important;
        &.ipt-goods-no {
          width: 140px;
        }
        &.ipt-w80 {
          width: 80px;
        }
      }
    }
  }

  .spec-group-button {
    button {
      &:hover, &:focus {
        color: #fbfbfb;
        background-color: #19a7f0;
      }
    }
  }

}

